@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}

/*Seccion grilla*/
.contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-rows: repeat(8);
  grid-template-areas: "menu menu menu menu"
 "header header header header"
 "sect1 sect1 sect1 sect1"
 "sect2 sect2 sect2 sect2"
 "sect3 sect3 sect3 sect3"
 "sect4 sect4 sect4 sect4"
 "sect5 sect5 sect5 sect5"
 "footer footer footer footer ";
}

.contenedor .menu {
  grid-area: menu;
  width: 100%;
  height: 100px;
  
}

.contenedor header {
  grid-area: header;
  width: 100%;
  height: 500px;
  padding: 5px;
}

.contenedor .clasica {
  grid-area: sect3;
  width: 100%;
  height: 600px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contenedor .moderna {
  grid-area: sect2;
  width: 100%;
  height: 600px;
  padding: 5px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.contenedor .unica {
  grid-area: sect1;
  width: 100%;
  height: 700px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contenedor .icon {
  grid-area: sect4;
  width: 100%;
  height: 1100px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contenedor .redes {
  grid-area: sect5;
  width: 100%;
  height: 100px;
  padding: 5px;

  margin-top: 10px;
  margin-bottom: 10px;
}

.contenedor footer {
  grid-area: footer;
  width: 100%;
  height: 100px;
}

/*Seccion de Menu*/
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tamañoMenu {
  font-size: 30px;
  width: 100%;
  height: 100%;
}

.logoMenu{
  font-size: 100px;
}

/*Carrito flotante*/

.carrito{
  position: fixed;
  left: 350px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px;
  border-radius: 15px;
}



/*Seccion header principal*/

.descripcion h1 {
  color: white;
  font-family: 'Domine', serif;
}

.descripcion p {
  display: flex;
  color: white;
  font-family: 'Cinzel', serif;
}

.tituloPremium {
  font-size: 80px;
  font-style: oblique;
}

.textoPremium {
  font-size: 35px;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 50px;
}

/*Seccion edicion limiada*/

.unica__img{
  background-image: url(../assest/edicion-limitada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.unica__img2{
  display: inline-flex;
  width: 300px;
  height: 250px;

  position: relative;
  left: 90px;
  top: 50px;
  
}

.unica__titulo{
  font-size: 50px;
  display: flex;
  justify-content: end;
  padding: 15px;
  
}

.unica__texto{
  font-size: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-wrap: wrap;
  
  text-align: end;
  padding-left: 100px;
  padding-right: 20px;
  
}


/*Seccion moderna pagina principal*/


.img__carousel{
  width: 100px;
  height: 540px;
}

.button__moderna{
  margin-top: 5px;
}

/*Seccion ropa clasica*/



.clasica__img{
  display: flex;
  justify-content: center;

  width: 100%;
  height: 300px;
  
}

/*Seccion iconos*/

.cuotas img{
  width: 100%;
  height: 400px;
}

.cuotas p{
  font-size: 40px;
  color: white;
  text-align: center;
}

.envios img{
  width: 100%;
  height: 400px;
}

.envios p{
  font-size: 40px;
  color: white;

  text-align: center;
}

/*Seccion Redes*/

.redes{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.redes img{
  width: 80px;
  height: 80px;
}

/*Seccion footer*/

footer{
  background-color: rgb(109, 109, 109);
}

footer div{
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  
}



/*------------ SECCION REGISTRO -------------------*/

.contenedorFormRegistro{
  padding: 10px;
  background-color: white;
  height: 100%;
}

/*--------SECCION INGRESO--------------*/

.contenedorFormIngresar{
  padding: 40px;
  background-color: white;
  height: 80%;
}